.btn.buy{
  padding: 0;
  border-radius: 100%;
  border: none;
}

.buy{
  background-color: #EBEBEB;
  border-radius: 100%;
}

.btn.buy:focus, .btn.buy:active, .btn.buy:visited{
  outline: none;
  border: none;
  text-decoration: none;
}

.buy:focus, .buy:active, .buy:visited{
  outline: none;
  border: none;
  text-decoration: none;
}

.pos-bottom-right{
  bottom: 1rem;
  right: 2rem;
}

.ripple {
  position: relative;
  overflow: hidden;
}

.ripple:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #fff 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(6,6);
  opacity: 0;
  transition: transform .5s, opacity 1s;
}

.ripple:active:after {
  transform: scale(0, 0);
  opacity: .3;
  transition: 0s;
}